//

$main-text-color: #000000;
$primary-text-color: #ffffff;
$secondary-text-color: #8c8c8c;
$primary-bg-color: #3366ff;
$timeline-color: #d5d5d5;
$checkbox-color: #cfcfcf;
$form-bg: #ededf1;
$form-text: #555770;
$button-hover: #8e90a6;
$button-delete: 'button-del';
$clue: #dbdbdb;
